* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contain {
  width: 100%;
  height: 100vh;
  background: #9ad0c2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #3a4452;
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(45, 149, 150, 0.4),
    5px 5px 15px rgba(89, 180, 195, 0.4);
  background: transparent;
  font-size: 20px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

form input.equal {
  width: 145px;
  color: #2d9596;
}

form input.operator {
  color: #2d9596;
}
